---
---

@font-face {
    font-family: grotesk;
    src: url(/assets/fonts/grotesk.otf);
}

@font-face {
    font-family: lack;
    src: url(/assets/fonts/lack.woff2);
}

@font-face {
    font-family: inter;
    src: url(/assets/fonts/inter.woff2);
}

:root {
    --header-bg: #012a36;
    --header-fg: #cae5ff;
    --body-h1: #f05365;
    --body-h2: #6f8ab7;
}

* { box-sizing: border-box; }

#skip-to-content {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
    left: -10px;

    &:focus {
        position: fixed;
        top: 10px;
        left: 10px;
        height: auto;
        width: auto;
    }
}

body {
    margin: 0;
    font-family: inter;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-bg);
    color: var(--header-fg);

    h1 {
        padding: 0.5rem 0;
        margin: 0;
        font-family: grotesk;
        font-size: 2em;
        text-align: center;
    }

    a {
        color: var(--header-fg);
        text-decoration: none;
        transition: color 0.25s;

        &:hover {
            color: var(--body-h1);
        }
    }

    > a {
        font-family: lack;
        font-size: 1.25em;

        &:nth-of-type(1) {
            margin-left: 1rem;
        }

        &:nth-of-type(2) {
            margin-right: 1rem;
        }
    }
}

main {
    width: 40rem;
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    
    h1 {
        font-family: lack;
        margin-left: -3.75%;
        color: var(--body-h1);
    }

    h2 {
        font-family: lack;
        margin-left: -2.5%;
        color: var(--body-h2);
    }

    a {
        text-decoration: none;
        color: var(--body-h2);
        &:visited {
            color: var(--body-h2);
        }
    }
}
