<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-AU" }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header role="banner">
      <h1>{{ page.title }}</h1>
      <h2>{{ page.description }}</h2>
    </header>

    <main role="main">
      {{ content }}
    </main>
  </body>
</html>
